@charset "utf-8";
/* animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; */


.main .banner-arti .inner{ opacity: 0; }
.main .banner-arti.on .inner{ animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }

.main .vision-arti .item-list > li{ opacity: 0; }
.main .vision-arti.on .item-list > li:nth-child(1){ animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
.main .vision-arti.on .item-list > li:nth-child(2){ animation: fadeIn 0.5s ease-in-out 0.1s 1 forwards running; }
.main .vision-arti.on .item-list > li:nth-child(3){ animation: fadeIn 0.5s ease-in-out 0.2s 1 forwards running; }
.main .vision-arti.on .item-list > li:nth-child(4){ animation: fadeIn 0.5s ease-in-out 0.2s 1 forwards running; }

.main .wave-arti .item-list > li{ opacity: 0; }
.main .wave-arti.on .item-list > li:nth-child(1){ animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
.main .wave-arti.on .item-list > li:nth-child(2){ animation: fadeIn 0.5s ease-in-out 0.1s 1 forwards running; }
.main .wave-arti.on .item-list > li:nth-child(3){ animation: fadeIn 0.5s ease-in-out 0.2s 1 forwards running; }

.main .coin-arti .left-box .coin{ transform: scale(0); }
.main .coin-arti.on .left-box .coin{  animation: pulse 600ms ease-in-out forwards, float 3s ease-in-out infinite;; }



@keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(0.85); } /* 가운데에서 가장 작음 */
    100% { transform: scale(1); }
}

.main .partnership-arti .title1{ opacity: 0; }
.main .partnership-arti.on .title1{ animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }

.main .partnership-arti .content{ opacity: 0; }
.main .partnership-arti.on .content{ animation: fadeIn 0.5s ease-in-out 0.1s 1 forwards running; }

.main .partnership-arti .img-list{ opacity: 0; }
.main .partnership-arti.on .img-list{ animation: fadeIn 0.5s ease-in-out 0.2s 1 forwards running; }

.main .partnership-arti .blue-bg{ opacity: 0; }
.main .partnership-arti.on .blue-bg{ animation: fadeIn 0.5s ease-in-out 0.3s 1 forwards running; }

@keyframes fadeIn {
    0% {transform: translate3d(0px, 30px, 0px); }
    100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}
@keyframes fadeInDown {
    0% {transform: translate3d(0px, -30px, 0px); }
    100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}
@keyframes fadeInRight {
    0% { opacity: 0; transform: translate3d(30px, 0, 0px); }
    100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}
@keyframes fadeInLeft {
    0% { opacity: 0; transform: translate3d(-30px, 0, 0px); }
    100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}

@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.main .banner-arti .title{  animation: blink 3s infinite;  }

@keyframes blink {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
  }
/* sec1 */

section.sec1 .c_titleBox{ opacity: 0; }
section.sec1.on .c_titleBox { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
section.sec1 .t1 { opacity: 0; }
section.sec1.on .t1 { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
section.sec1 .t2 { opacity: 0; }
section.sec1.on .t2 { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.1s; }
section.sec1 .t3 { opacity: 0; }
section.sec1.on .t3 { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s; }

/* sec2 */
section .c_titleBox{ opacity: 0; }
section.on .c_titleBox { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
section.sec2 .c_titleBox .c_title{ opacity: 0; }
section.sec2.on .c_titleBox .c_title { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }

section.sec2 .c_ul { opacity: 0; }
section.sec2.on .c_ul { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s; }


/* sec3 */
section.sec3 .c_titleBox .c_title{ opacity: 0; }
section.sec3.on .c_titleBox .c_title { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
section.sec3 .c_ul { opacity: 0; }
section.sec3.on .c_ul { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s; }


/* sec4 */
section.sec4 .sec4_div{ opacity: 0; }
section.sec4.on .sec4_div { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s; }


/* sec5 */
section.sec5 .sec5_div .t1{ opacity: 0; }
section.sec5.on .sec5_div .t1 { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s; }
section.sec5 .sec5_div .t2{ opacity: 0; }
section.sec5.on .sec5_div .t2 { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.3s; }
section.sec5 .se5_ul{ opacity: 0; }
section.sec5.on .se5_ul { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.4s; }


/* sec6 */
section.sec6 .sec6_title{ opacity: 0; }
section.sec6.on .sec6_title { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
section.sec6 .t1{ opacity: 0; }
section.sec6.on .t1 { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.1s; }
section.sec6 .sec6_ul{ opacity: 0; }
section.sec6.on .sec6_ul { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.3s; }


/* section .float_icon { transform: scale(0); } */
section.on .float_icon{  animation: pulse 600ms ease-in-out forwards, float 2s ease-in-out infinite;}
section.sec6.on .float_icon1 { animation: pulse 600ms ease-in-out forwards, float 2s ease-in-out infinite;  }
section.sec6.on .float_icon2 { animation: pulse 600ms ease-in-out forwards, float 2s ease-in-out infinite; animation-delay: 0.5; }